attrs==21.4.0
certifi==2022.6.15
chardet==5.0.0
charset-normalizer==2.0.12
cycler==0.11.0
fonttools==4.33.3
idna==3.3
iniconfig==1.1.1
joblib==1.1.0
jsonpickle==2.2.0
kiwisolver==1.4.3
matplotlib==3.5.2
more-itertools==8.13.0
music21==7.3.3
numpy==1.23.0
packaging==21.3
Pillow==9.1.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
requests==2.28.0
six==1.16.0
tomli==2.0.1
torch==1.13.0.dev20220623
torchaudio==0.14.0.dev20220603
torchvision==0.14.0.dev20220622
typing_extensions==4.2.0
urllib3==1.26.9
webcolors==1.12
